.header {
    background-color: $color-orange;
    width: 100vw;
    height: 70vh;
    text-align: center;
    padding: 15rem;
    position: relative;
    
    &__title {
        color: $color-white;
        font-size: 6rem;
        font-family: 'Poiret One', cursive;
    }
    
    &__details {
        color: $color-white;
        width: 75%;
        font-size: 2.2rem;
        font-weight: 100;
        font-family: 'ABeeZee', cursive;
        padding-top: 5rem;
        margin: 0 auto;
    }
    
    &__links {
        position: absolute;
        font-weight: 100;
        
        &--btn {
            text-decoration: none;
            color: $color-white;
            display: inline-block;
            padding: 10rem 0 0 20rem;
        }
        
        &-icon {
            font-size: 5rem;
        }
        
        &-text {
            font-family: 'Abel', cursive;
            font-size: 2.5rem;
            margin-top: 15%;
        }
    }
}