*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* resetting font properties */
html {
    // defines what 1rem is
    font-size: 62.5%; /* set to % rather than 10 pixels for accessibility */
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box; /*getting rid of border behavior*/
    background-color: $color-grey-light;
}