.section {
    &__main {
        padding: 10rem;
        
        &--title {
            font-size: 3.5rem;
            font-family: 'ABeeZee', cursive;
            color: $color-purple;
        }

        &--subtitle {
            font-size: 2.5rem;
            font-family: 'ABeeZee', cursive;
            margin: 3rem;
            margin-bottom: 0;
            display: inline-block;
        }
    }
    
    &__dev {
        
        &-hubs {
            margin-top: 118rem;
        }
    }
    
    &__design {
        &-imgs {
            padding-top: 40rem;
        }
        &-fonts {
            margin-top: 60rem;
        }
        &-colour {
            margin-top: 60rem;
        }
        &-misc {
            margin-top: 60rem;
        }
    }
}
